@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Limelight:100,200,300,400,500,600,700');

*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    
    font-family: 'Poppins' , sans-serif;
}





/*------------------------------------------Special paddings margins text and div */
h1,
h2,
h3,
h4{
    text-transform: uppercase;
}

.spacer{
    height: 4px;
	width: 40%;
	background: #f1a602;
    margin: auto;
    border-radius: 8px;
}

.empty{
    height: 2px;
	width: 100%;
	
}




/*------------------------------------------Header/Navbar section */

.logo a{
    color: #dadada;
    letter-spacing: 5px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Limelight' , sans-serif;
}

.logo span{
    color: #f1a602;
}
nav{    
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(129, 27, 27);
    font-family: 'Poppins' , sans-serif;
    
}


.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-bottom: 0;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #dadada;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
    
}

.nav-links :hover{
    color:#f1a602;
}

.burger{    
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #dadada;
    border-radius: 25px;
    cursor: pointer;
}

/*----------------------------------------nav Tablet query--*/
@media screen and (max-width: 1085px){
    .nav-links{
        width: 60%;
    }
}
/*---------------------------------------nav mobile query--*/

@media screen and (max-width: 768px){
 body{
     overflow-x: hidden;
 }
   
   .nav-links{
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 8vh;
       background-color: rgb(129, 27, 27);
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 50%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;  
       z-index: 1 ;
   }
   .nav-links li{
       opacity: 0;
   }
   .burger{
       display: block;
   }
   
}

   .nav-active{
       transform: translateX(0%);
   }

   @keyframes navLinkFade{
       from{
           opacity: 0;
           transform: translateX(50px);
       }
       to{
           opacity: 1;
           transform: translateX(0px);

       }
}


/* Page Wrapper*/
.page-wrapper{
    height: 20%
}

/*------------------------------------------hero image */

#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/heroimg.jpg");
    width: 100%;
    height: 680px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#hero-text {
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    padding-top: 270px;
}

#hero-text h1 {
    font-family: "Limelight", sans-serif;
    color: #dadada;
}

/*------------------------------------------Reasons to use us Section */
.reason-heading{
    font-family: 'Poppins' , sans-serif;
    color:#383838;
    font-size: 20px;
    padding-bottom: 0 ;
    padding-top: 30px;
}

.reason-section-heading{

    font-family: "Poppins" , sans-serif;
    color: #383838;
    padding-bottom: 10px;
    padding-top: 30px;
    font-size: 28px;
    margin: 0 auto;
}

#reason-logo{
    padding-top: 70px;
}

.reason-section{
    padding: 50px 80px;
    background-color: rgb(240, 240, 240);
    
}
.underline-r {
	height: 2px;
	width: 30%;
	background-color: #f1a602;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 20px;
    
}

/*------------------------------------------Partner Section */

.partner-section{
    background-color: #dadada;
}

.partner-heading{
    font-family: "Poppins" , sans-serif;
    color: #383838;
    padding-bottom: 0;
    padding-top: 30px;
    font-size: 28px;
}

.underline-p {
	height: 2px;
	width: 10%;
	background-color: #f1a602;
    margin: 0 auto;
    
}

.partner-feature{
    padding-top: 50px;
    padding-bottom: 50px;
}

.card{
   margin:40px auto;
   width: 20rem;
}

.card-link a{
    text-decoration: none;
    color: #383838;
}

.card-link :hover{
color: #f1a602;
}

@media screen and (max-width: 1085px){
    .card{
        width: 13rem;
       
    }
}




/*------------------------------------------Review Section

Used bootstrap template for this section the code was taken from https://mdbootstrap.com


*/

/*-----------------------------------------------------------------Gallery page css*/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout tab - gallery page */
@media screen and (max-width: 1085px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - gallery page */
@media screen and (max-width: 786px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*---------------------------------------------------This is my Contact Page Css/contact form css / i used w3schools for help with this form */

.contact{
		padding: 4%;
		height: 400px;
        font-family: "Poppins" , sans-serif;
	}
	.col-md-3{
		background: #f1a602;
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
    .contact-info h4{
        font-size: 1.2rem;
        text-align: center;
    }
	.contact-info h2{
		margin-bottom: 10%;
        color: #383838;
        font-size: 1.4rem;
        font-family: "Limelight" , sans-serif;
	}
	.col-md-9{
		background: #dadada;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #f1a602;
		color: #dadada;
		font-weight: 600;
		width: 25%;
        font-family: "Limelight" , sans-serif;
	}
	.contact-form button:focus{
		box-shadow:none;
	}

    .contact-spacer{
        height: 40%;
    }

/* Responsive layout - gallery page */
@media screen and (max-width: 786px) {
  
  .contact-img{
      display: none;
  }

  .contact-spacer{
      height: 50%;
  }

}
/*---------------------------------------------------History page Section */
.jumbotron {
    position: relative;
    padding: 5rem 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: 0;
    border-radius: 0;
    color: #fff;
    text-align: center;
    background-image: url("../images/cpopback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.position-relative{
    position: relative !important;
}
.content-wrapper{
    margin: 0 auto;
}

.jumbotron-title {
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    color: #dadada;
    font-family: "Limelight" , sans-serif;
    font-size: 40px;
    background-color: rgb(129, 27, 27);
    border-style: outset;
}
.display-1 {
    font-size: 2.875rem;
    font-weight: 300;
}

.jumbotron-subtitle{
        font-size: 1.25rem;
        font-family: "Poppins" , sans-serif;
        background-color: rgb(129, 27, 27);
        color: #dadada;
        border-style: outset;
       
}

.history{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    
}

.history-text{
    color: #383838;
    font-weight: 300;
    margin: 0 auto;
    max-width: 50rem;
}




/*---------------------------------------------------Footer Section */

.footer {
	width: 100%;
	background: rgb(129, 27, 27);
	
}

.inner-footer {
	width: 95%;
	margin: auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
}

.footer-items h1 {
	padding: 10px 0;
	font-size: 25px;
	color: #dadada;
	text-transform: uppercase;
    font-family: 'Limelight';
    text-align: center;
}

.footer-items span{
    color: #f1a602;
}

.footer-items p {
	color: #dadada;
	font-size: 16px;
	text-align: center;
	line-height: 25px;
    
}

h2 {
	margin: 10px 0;
	color: #dadada;
	font-size: 16px;
	text-transform: uppercase;
    text-align: center;
}

.underline-f {
	height: 2px;
	width: 100%;
	background-color: #f1a602;
    
}

ul {
	list-style: none;
	color: #dadada;
	font-size: 15px;
	letter-spacing: 0.5px;
}

ul a {
	text-decoration: none;
	outline: none;
	color: #dadada;
	transition: 0.3s;
}

ul a:hover {
	color: #f1a602;
}

ul li {
	margin: 10px 0;
	height: 25px;
    text-align: center;
}

li i {
	margin-right: 20px;
    text-align: center;
}

.footer-bottom {
	padding: 10px;
	background: rgb(129, 27, 27);
	color: #dadada;
	font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 1085px) {
	.footer-items {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	.footer-items {
		width: 100%;
	}
}